@model Timesheets.Models.TimesheetEntry

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TimesheetEntry</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RelatedProject.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RelatedProject.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RelatedUser.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RelatedUser.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RelatedUser.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RelatedUser.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.DateCreated))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoursWorked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoursWorked)
        </dd>
        <dt class="col-sm-2">
            Total Cost
        </dt>
        <dd class="col-sm-10">
            @(Model.HoursWorked * Model.RelatedUser.CostPerHour)
        </dd>



    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
