@model List<Timesheets.Models.DepartmentDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Departments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Department 
            </th>
            <th>
                Department Head
            </th>
            <th>Number of Employees</th>
            <th>Number of Owned Projects</th>
            <th>Number of Projects Participating in</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.department.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.department.DepartmentHead.FirstName) @Html.DisplayFor(modelItem => item.department.DepartmentHead.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.department.RelatedUsers.Count)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Ownedprojects.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Participatingprojects.Count)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.department.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.department.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.department.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
